<h1> Student Profile </h1>
<div class="profile">

<!-- irst Name first_name -->
<!-- Last Name last_name -->
Email email
Password (password digest) 
Phone Number phone_number
Short Bio short_bio
LinkedIn URL linkedin
Twitter Handle twitter
Personal Blog/Website URL personal_site
Online Resume URL resume_url
Github URL github_url
Photo photo




<h3>
<%= form_tag "/students", method: :post do %>
First Name: <input type="text" name="first_name" value="<%= @student.first_name %>">
<br>
Last Name: <input type="text" name="last_name" value="<%= @student.last_name %>">
<br>
Email Address: <input type="text" name="email" value="<%= @student.email %>">
<br>
Phone Number: <input type="text" name="phone_number" value="<%= @student.phone_number %>">
</br>
Short Bio: <input type="text" name="short_bio" value="<%= @student.short_bio %>">
<br>
LinkedIn: <input type="text" name="linkedin" value="<%= @student.linkedin %>"">
<br>
Personal Blog/Website URL: <input type="text" name="twitter" value="<%= @student.twitter %>">
<br>
Resume URL: <input type="text" name="resume_url" value="<%= @student.resume_url %>">
<br>
Github URL: <input type="text" name="github_url" value="<%= @student.github_url %>">
<br>
A Photo of your self?: <input type="text" name="photo" value="<%= @student.photo %>">


 
<% end %>

</h3>
</div>