<h1> Student Profile </h1>
<div class="profile">


<h3>
First Name: <%= @student.first_name %>
<br>
Last Name: <%= @student.last_name %>
<br>
Email Address: <%= @student.email %>
<br>
Phone Number: <%= @student.phone_number %>
</br>
Short Bio: <%= @student.short_bio %>
<br>
LinkedIn: <%= @student.linkedin %>
<br>
Personal Blog/Website URL: <%= @student.twitter %>
<br>
Resume URL: <%= @student.resume_url %>
<br>
Github URL: <%= @student.github_url %>
<br>
A Photo of your self?: <%= @student.photo %>
 


</h3>
</div>