<h1> Student Profile </h1>
<div class="profile">

    <!-- <div style="height: 100vh">
         
           <h1 class="animated fadeIn mb-2">Material Design for Bootstrap</h1>

<h3>
            <h5 class="animated fadeIn mb-1">Thank you for using our product. We're glad you're with us.</h5>

            <p class="animated fadeIn text-muted">MDB Team</p>
        </div>
    </div>
<h3 class="animated fadeIndown text-muted"> -->

<!--Card-->
<div class="flex-center">
<div class="col-md-4">

    <!--Card-->
    <div class="card card-cascade">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src=<%= @student[:photo] %>
            	class="img-fluid" alt="">
            <a>
                <div class="mask waves-effect waves-light"></div>
            </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block text-center">
            <!--Title-->
            <h4 class="card-title"><strong><%= @student[:first_name] %> <%= @student[:last_name] %></strong></h4>
            <h5>Web developer</h5>

            <p class="card-text">
	            First Name: <%= @student[:first_name] %>
				<br>
				Last Name: <%= @student[:last_name] %>
				<br>
				Email Address: <%= @student[:email] %>
				<br>
				Phone Number: <%= @student[:phone_number] %>
				</br>
				Short Bio: <%= @student[:short_bio] %>
				<br>
				LinkedIn: <%= @student[:linkedin] %>
				<br>
				Personal Blog/Website URL: <%= @student[:twitter] %>
				<br>
				Resume URL: <%= @student[:resume_url] %>
				<br>
				Github URL: <%= @student[:github_url] %>
				<br>
				A Photo of your self?: <%= @student[:photo] %>
            </p>

            <!--Facebook-->
            <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"></i></a>

        </div>
        <!--/.Card content-->

    </div>
    </div>
    <!--/.Card-->
    <!--/.Card content-->

</div>
First Name: <%= @student[:first_name] %>
<br>
Last Name: <%= @student[:last_name] %>
<br>
Email Address: <%= @student[:email] %>
<br>
Phone Number: <%= @student[:phone_number] %>
</br>
Short Bio: <%= @student[:short_bio] %>
<br>
LinkedIn: <%= @student[:linkedin] %>
<br>
Personal Blog/Website URL: <%= @student[:twitter] %>
<br>
Resume URL: <%= @student[:resume_url] %>
<br>
Github URL: <%= @student[:github_url] %>
<br>
A Photo of your self?: <%= @student[:photo] %>
 


</h3>
</div>
</div>
</div>